@{ 
    ViewBag.Title = "Akun Telah Terdaftar - KBTKIT Mutiara Hati Pedan";
    Layout = null;
    var banner1 = ViewBag.Banner1 ?? "/assets/images/backgrounds/background.jpg";
    }

<head>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/images/icon/TK.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/animate.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="~/assets/css/unify-core.css">
    <link rel="stylesheet" href="~/assets/css/unify-components.css">
    <link rel="stylesheet" href="~/assets/css/unify-globals.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css">
</head>
<body>
    <main>
        <!-- Login -->
        <section class="g-height-100vh g-flex-centered g-bg-size-cover g-bg-pos-top-center g-bg-black-opacity-0_3--after" style="background-image: url(@banner1);">
            <div class="container g-py-100 g-pos-rel g-z-index-1">
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-lg-5">
                        <div class="g-bg-white rounded g-py-40 g-px-30">
                            <header class="text-center mb-4">
                                <h2 class="h2 g-color-black g-font-weight-600">Maaf...</h2>
                                <p>NIK Yang Anda Gunakan Telah Terdaftar</p>
                            </header>
                            <a class="btn btn-md btn-block u-btn-primary rounded g-py-13" href="@Url.Action("Register","Account")">DAFTAR ULANG</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Login -->
    </main>

    <div class="u-outer-spaces-helper"></div>
    <!-- JS Global Compulsory -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/js/jquery.easing.js"></script>
    <script src="~/assets/vendor/popper.min.js"></script>
    <script src="~/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Unify -->
    <script src="~/assets/js/hs.core.js"></script>

    <!-- JS Customization -->
    <script src="~/assets/js/custom.js"></script>
</body>


