<div class="dropdown-menu animated flipInY">
    <a href="@Url.Action("Profile")" , class="dropdown-item"><i class="ti-user"></i> Profil</a>
    <a href="@Url.Action("EditProfile")" class="dropdown-item"><i class="ti-cut"></i> Edit Info Profil</a>
    <p role="separator" class="divider"></p>
    <a href="@Url.Action("UpdateProfileHost")" class="dropdown-item"><i class="ti-settings"></i> Konfigurasi Profil</a>
    <p role="separator" class="divider"></p>
    <a href="@Url.Action("LogOff")" class="dropdown-item"><i class="fa fa-power-off"></i> Keluar</a>
</div>

